<a href="https://colab.research.google.com/github/kyryloqaua/Image-Processing-with-Python/blob/main/Solution_to_a_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [134]:
class User:
    def __init__(self, name, username, email):
        self.name = name
        self.username = username
        self.email = email

    def __repr__(self):
        return "User(name=%s, username=%s, email=%s)" % (self.name, self.username, self.email)

    def __str__(self):
        return self.__repr__()

In [135]:
user1 = User(name='John Doe', username='johndoe', email='johndoe@example.com')

In [136]:
user1.name

'John Doe'

In [137]:
user1.username

'johndoe'

In [138]:
user1.email

'johndoe@example.com'

In [139]:
type(user1)

__main__.User

In [140]:
user2 = User(name='Jane Doe', username='janedoe', email='janedoe@example.com')

In [141]:
user3 = User(name='Alice Smith', username='alicesmith', email='alicesmith@example.com')

In [142]:
user4 = User(name='Bob Johnson', username='bobjohnson', email='bobjohnson@example.com')

In [143]:
user5 = User(name='Charlie Brown', username='charliebrown', email='charliebrown@example.com')

In [144]:
user6 = User(name='David Lee', username='davidlee', email='davidlee@example.com')

In [145]:
class UserDatabase:
    def insert(self, user):
        print(f"Inserting {user}")
    def update(self, user):
        print(f"Updating {user}")
    def find(self, username):
        print(f"Finding {username}")
    def list(self):
        print("Listing users")

In [146]:
users = []

In [147]:
users = [user1, user2, user3, user4, user5, user6]

In [148]:
print(users)

[User(name=John Doe, username=johndoe, email=johndoe@example.com), User(name=Jane Doe, username=janedoe, email=janedoe@example.com), User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com), User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com), User(name=Charlie Brown, username=charliebrown, email=charliebrown@example.com), User(name=David Lee, username=davidlee, email=davidlee@example.com)]

In [149]:
user4.email

'bobjohnson@example.com'

In [150]:
print(user4)

User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com)

In [151]:
'user3' < 'user4'

True

In [152]:
class UserDatabase:
    def __init__(self):
        self.users = []
    def insert(self, user):
        i = 0
        while i < len(self.users) and self.users[i].username < user.username:
            i += 1
        self.users.insert(i, user)
        print(f"Inserting {user}")

    def find(self, username):
        for user in self.users:
            if user.username == username:
                return user
        print(f"Finding {username}")

    def update(self, user):
        target = self.find(user.username)
        if target:
            target.name = user.name
            target.username = user.username
            target.email = user.email
        print(f"Updating {user}")

    def list(self):
        return self.users
        print("Listing users")

In [153]:
database = UserDatabase()

In [154]:
print(database.users)

[]

In [155]:
database.insert(user1)

Inserting User(name=John Doe, username=johndoe, email=johndoe@example.com)

In [156]:
database.insert(user2)

Inserting User(name=Jane Doe, username=janedoe, email=janedoe@example.com)

In [157]:
database.insert(user3)

Inserting User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com)

In [158]:
database.insert(user4)

Inserting User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com)

In [159]:
users

[User(name=John Doe, username=johndoe, email=johndoe@example.com),
 User(name=Jane Doe, username=janedoe, email=janedoe@example.com),
 User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com),
 User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com),
 User(name=Charlie Brown, username=charliebrown, email=charliebrown@example.com),
 User(name=David Lee, username=davidlee, email=davidlee@example.com)]

In [160]:
database.list()

[User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com),
 User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com),
 User(name=Jane Doe, username=janedoe, email=janedoe@example.com),
 User(name=John Doe, username=johndoe, email=johndoe@example.com)]

In [161]:
database.insert(user5)

Inserting User(name=Charlie Brown, username=charliebrown, email=charliebrown@example.com)

In [162]:
database.insert(user6)

Inserting User(name=David Lee, username=davidlee, email=davidlee@example.com)

In [163]:
database.list()

[User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com),
 User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com),
 User(name=Charlie Brown, username=charliebrown, email=charliebrown@example.com),
 User(name=David Lee, username=davidlee, email=davidlee@example.com),
 User(name=Jane Doe, username=janedoe, email=janedoe@example.com),
 User(name=John Doe, username=johndoe, email=johndoe@example.com)]

In [164]:
database.find('johndoe')

User(name=John Doe, username=johndoe, email=johndoe@example.com)

In [165]:
database.update(User(name='J', username='clock', email='johndoe@example.com'))

Finding clock
Updating User(name=J, username=clock, email=johndoe@example.com)

In [166]:
database.list()

[User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com),
 User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com),
 User(name=Charlie Brown, username=charliebrown, email=charliebrown@example.com),
 User(name=David Lee, username=davidlee, email=davidlee@example.com),
 User(name=Jane Doe, username=janedoe, email=janedoe@example.com),
 User(name=John Doe, username=johndoe, email=johndoe@example.com)]

In [167]:
database.find('johndoe')

User(name=John Doe, username=johndoe, email=johndoe@example.com)

In [168]:
user = database.find('johndoe')

In [169]:
user

User(name=John Doe, username=johndoe, email=johndoe@example.com)

In [170]:
database.update(User(name='John D', username='johndoe', email='johndoe@example.com'))

Updating User(name=John D, username=johndoe, email=johndoe@example.com)

In [171]:
database.list()

[User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com),
 User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com),
 User(name=Charlie Brown, username=charliebrown, email=charliebrown@example.com),
 User(name=David Lee, username=davidlee, email=davidlee@example.com),
 User(name=Jane Doe, username=janedoe, email=janedoe@example.com),
 User(name=John D, username=johndoe, email=johndoe@example.com)]

In [172]:
user7 = User(name='Carl White', username='carlbread', email='clock@example.com')

In [173]:
user7

User(name=Carl White, username=carlbread, email=clock@example.com)

In [174]:
users

[User(name=John D, username=johndoe, email=johndoe@example.com),
 User(name=Jane Doe, username=janedoe, email=janedoe@example.com),
 User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com),
 User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com),
 User(name=Charlie Brown, username=charliebrown, email=charliebrown@example.com),
 User(name=David Lee, username=davidlee, email=davidlee@example.com)]

In [176]:
user7 = User(name='Carl White', username='carlbread', email='clock@example.com')

In [177]:
users.append(user7)

In [178]:
users

[User(name=John D, username=johndoe, email=johndoe@example.com),
 User(name=Jane Doe, username=janedoe, email=janedoe@example.com),
 User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com),
 User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com),
 User(name=Charlie Brown, username=charliebrown, email=charliebrown@example.com),
 User(name=David Lee, username=davidlee, email=davidlee@example.com),
 User(name=Carl White, username=carlbread, email=clock@example.com)]

In [179]:
database.insert(user7)

Inserting User(name=Carl White, username=carlbread, email=clock@example.com)

In [180]:
database.list()

[User(name=Alice Smith, username=alicesmith, email=alicesmith@example.com),
 User(name=Bob Johnson, username=bobjohnson, email=bobjohnson@example.com),
 User(name=Carl White, username=carlbread, email=clock@example.com),
 User(name=Charlie Brown, username=charliebrown, email=charliebrown@example.com),
 User(name=David Lee, username=davidlee, email=davidlee@example.com),
 User(name=Jane Doe, username=janedoe, email=janedoe@example.com),
 User(name=John D, username=johndoe, email=johndoe@example.com)]